# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\malao\Documents\School\Spring 2021\CEN4090 - Software Engineering\HelloWorld-IntelliJ-Project_CLONE\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
